footer
    position relative
    bottom 0 
    width 100%
    height 90px
    margin 0 auto
    background #583F9F
    z-index 2
    display flex
    align-items center
    justify-content center
    .footer 
        width 1200px
        p
            asap 12
            font-style italic
            text-align center 
            color #FFF
            text-transform none
    +below($tablet)
        width 100%
        margin 0 auto
    +mobile()
        .footer 
            width 90%
            margin 0 auto
            p
                asap 12
                text-align center 
