header
    width 100%
    height 400px
    margin 0 auto
    top 0
    left 0
    z-index 2 
    background-image $img('bg-cabecalho.png')
    background-size cover
    background-position center
    div.center
        width 1200px !important
        display flex
        flex-direction row
        align-items center
        .logo
            width 60%
            height 375px
            margin 0 0 0 225px
            background $img('marca-crisdosanjos.png') no-repeat center
            background-color transparent
            text-indent -9999px
        nav
            padding 0
            width 40%
            display flex
            flex-direction row
            justify-content flex-end
            margin-right 80px
            div.itens-menu
                display flex
                flex-direction column
                align-items flex-start
                a
                    margin 0
                    kaushan 22
                    font-weight 500
                    color #583F9F
                    background-color transparent
                    text-decoration none
                    span.glyphicon-minus
                        color #E8D619
                        width 30px
                        font-size 14px
                    &:hover
                    &.active
                    &.focus 
                        color #d690cf
                        span.glyphicon-minus
                            color #E8D619
    +below($tablet)
        width 100%
        margin 0 auto
        padding 0
        div.center
            .logo
                margin 0 50px 0 0
            nav
                position absolute
                display none
                background-color transparent
                width 100%
                left 0
                top 350px
                margin 0
                padding-right 0
                float right 
                z-index 9999
                div.itens-menu
                    display flex
                    flex-direction column
                    justify-content space-around
                    background-color #FFF
                    width 100%
                    padding 10px 50px 10px 10px
                    margin 0
                    a
                        kaushan 20
                        display block
                        padding 0
                        height 30px
                        text-align right 
                        width 100%
    +mobile()
        width 100%
        height 200px
        div.center
            width 100% !important
            .logo
                width 250px
                height 150px
                background-size 75%
                margin 10px 20px 0 60px
            nav 
                width 100%
                margin 0
                top 180px
                div.itens-menu
                    padding 10px 10px 10px 50px
                    margin 0
                    a
                        kaushan 20
                        display block
                        padding 0
                        height 30px
                        text-align start 
                        width 100%
#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    left 50px
    +mobile()
        margin 10px
    .lines
        display block
        width 100%
        height 4px
        background-color #583F9F
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #583F9F
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

