desktop-base-width     = 1260px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$vermelho = #E02227
$verde = #2caf2c

@import url('https://fonts.googleapis.com/css2?family=Asap:ital@0;1&family=Kaushan+Script&display=swap')

kaushan($size, $weight = normal)
    font-family 'Kaushan Script', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
asap($size, $weight = normal)
    font-family 'Asap', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700