.painel-login
    background linear-gradient(90deg, #185a9d 10%, #43cea2 120%)
    .login
        padding 30px
        background #fff
        border-radius 5px
        margin 100px auto 0
        float none
        box-shadow 0px 0px 10px 0px rgba(0, 0, 0, .5)
        +below(768px)
            margin-top 30px
    .input-group
        margin-bottom 5px
    h3
        margin 0 0 30px
        small
            display block
            margin-top 10px

td
    vertical-align middle !important

.cke
    border 2px solid #dce4ec !important
    border-radius 4px
    transition border .3s !important
.cke_editable
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    font-size 15px !important
.cke_focus
    border-color #2c3e50 !important

.multiselect
    text-align left !important

.calendario
    width 100%
    display flex
    flex-direction row
    align-items flex-start
    justify-content space-between
    .calendario-dia
        width 80%
        margin-left 50px
        #dataSelecionada
            margin-top 0
            font-size 20px
            font-weight 800
            border 1px ridge #E5E5E5
            padding 8px 15px
    +below(1260px)
        display flex
        flex-direction column
        align-items flex-start
        justify-content space-between
        .calendario-mes
            margin 0 auto
        .calendario-dia
            width 100%
            margin-left 0
            #dataSelecionada
                margin-top 30px
.tabela-calendario
    thead
        tr
            th
                text-align center
    tbody
        tr
            td
                text-align center
                padding 5px 10px
                .btn-group
                    display flex
                    flex-direction row
                    align-items center
                    justify-content center

.ui-datepicker
    background #FFF
    border 1px solid #E5E5E5 !important
    color #333
    border-radius 0
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    font-size 18px
    .ui-datepicker-header
        background #FFF
        border 1px solid #E5E5E5 !important
        color #333
        border-radius 0
        .ui-datepicker-prev
            background transparent
        .ui-datepicker-next
            background transparent
        .ui-state-hover
            background transparent
            border none
            border-radius 0
    .ui-datepicker-calendar
        tbody
            tr
                td
                    .ui-state-default 
                        border 1px solid #E5E5E5 !important
                        background #FFF
                        color #333
                        &:hover
                            background #E5E5E5
                    .ui-state-active
                        border 1px solid #E5E5E5 !important
                        background #c3dae8
                        color #333
                    .ui-state-highlight
                        border 1px solid #E5E5E5 !important
                        background #ffef8f 
                        color #363636
.btn-group
    display flex
    flex-direction row
    align-items center
    justify-content center
