.dados-agendamento
    width 1200px
    height auto
    background-color #FFF
    margin 0 auto
    margin-bottom 50px
    .titulo
        color #E8D619
        kaushan 48
        margin 70px 0 20px 0
        text-align center
    .texto
        width 38%
        color #583F9F
        asap 16
        margin 5px auto
        text-align center
        font-style italic
    .tabelas-calendario
        width 80%
        margin 0 auto
        margin-top 20px
        margin-bottom 80px
        .tabela-dia
            width 20%
            margin 0 1.5%
            .calendario-data
                color #E8D619
                kaushan 36
                text-align center
            hr
                border 1px solid #E8D619
                margin 5px 0
            .dia-semana
                color #583F9F
                kaushan 28
                text-align center
                margin-bottom 10px
            .horarios
                display flex
                flex-direction column
                width 100%
                .btn-modal-agendamento
                    background-color #FFF
                    color #583F9F
                    asap 16
                    border 1px solid #E8D619
                    border-radius 0
                    outline none
                    display flex
                    flex-direction row
                    align-items center
                    justify-content space-between
                    padding 5px 30px
                    .periodo
                        margin 0
                    .horario
                        margin 0
                        padding-left 10px
                        font-weight 600
    +below($tablet)
        width 90%
        .titulo
            kaushan 40
            margin 50px 0 20px 0
        .texto
            width 60%
            asap 14
        .tabelas-calendario
            .tabela-dia
                width 20% !i
                margin 0 2.5%
                .calendario-data
                    kaushan 30
                .dia-semana
                    kaushan 22
                .horarios
                    width 100%
                    .btn-modal-agendamento
                        asap 14
    +mobile()
        width 90%
        margin 0 auto
        display flex
        flex-direction column
        align-items center 
        .titulo
            kaushan 30
            margin 40px 0 20px 0
            text-align start
        .texto
            width 90%
            asap 14
            text-align center
            margin 5px
        .tabelas-calendario
            width 60%
            margin 0 auto 100px auto
            .tabela-dia
                margin 0 2% 0 2%
                .horarios
                    width 100%


// MODAL
.modal
    background-color rgba(88, 63, 159, 0.5)
    .close
        position relative
        width 950px
        margin 0 auto
        top 45px
        left 265px 
        outline none
    .modal-dialog
        width 950px
        height 433px
        margin 80px auto
        overflow-y hidden
        .modal-content
            padding 30px 23%
            border none
            border-radius 0
            width 100%
            height 433px
            h4.modal-texto
                asap 16 bold
                color #583F9F
                text-align center
                font-style italic
            h2.modal-title
                asap 24 bold
                text-transform uppercase
                color #583F9F
                text-align center
                font-style italic
                margin-bottom 20px
                display flex
                flex-direction row
                align-items flex-start
                justify-content center
                p
                    padding 0 10px
            form
                display flex
                flex-direction column
                align-items initial
                h4.frase
                    asap 16 bold
                    color #583F9F
                    text-align center
                    font-style italic
                input 
                    margin 2px 0
                    border 1px solid #E8D619
                    height 40px
                    padding 0 15px
                    outline none
                    +placeholder()
                        asap 16
                        color #583F9F
                        font-style italic
                .tipo-agendamento
                    display flex
                    flex-direction row
                    align-items center
                    margin 5px 0
                    label
                        asap 16
                        color #583F9F
                        font-style italic
                        margin 0 50px 0 0
                        display flex
                        align-items center
                    input[type='checkbox'] 
                        position absolute
                        z-index -1
                        opacity 0
                    input[type='checkbox'] + label::before 
                        content ''
                        position relative
                        width 20px
                        height 20px
                        left 0
                        bottom 0
                        border 1px solid #E8D619
                        vertical-align bottom
                        margin-right 10px
                    .presencial:checked + label::after 
                        content ''
                        position relative
                        left -190px
                        bottom 3px
                        width 8px
                        height 16px
                        border-right solid 2px #583F9F
                        border-bottom solid 2px #583F9F
                        transform rotate(45deg)
                    .on-line:checked + label::after 
                        content ''
                        position relative
                        left -168px
                        bottom 3px
                        width 8px
                        height 16px
                        border-right solid 2px #583F9F
                        border-bottom solid 2px #583F9F
                        transform rotate(45deg)
                #btnAddAgendamento
                    border 1px solid #E8D619
                    border-radius 0
                    asap 16
                    background-color #583F9F
                    color #E8D619
                    text-transform uppercase
                    font-style italic
                    margin-top 20px
                    height 60px
                    outline none
        .modal-content-msg
            padding 30px 0
            background-color #FFF
            border none
            border-radius 0
            width 100%
            height 433px
            .modal-title-msg
                asap 100
                text-transform uppercase
                color #583F9F
                text-align center
                font-style italic
                margin-bottom 20px
            .modal-texto-msg
                asap 22
                color #583F9F
                text-align center
                font-style italic
    +below($tablet)
        .close
            width 50%
            top 30px
            left 165px 
        .modal-dialog
            width 90%
            height auto
            margin 60px auto
            .modal-content
                padding 30px 20%
                h4.modal-texto
                    asap 16 bold
                h2.modal-title
                    asap 26 bold
                    margin-bottom 15px
                form
                    h4.frase
                        asap 16 bold
                    input 
                        +placeholder()
                            asap 14
                    .tipo-agendamento
                        label
                            asap 14
                        .presencial:checked + label::after 
                            left -170px
                        .on-line:checked + label::after 
                            left -150px
            .modal-content-msg
                .modal-title-msg
                    asap 90
                .modal-texto-msg
                    asap 18
    +mobile()
        .close
            width 100%
            top 20px
            right 0
            left 40%
            position absolute
        .modal-dialog
            width 90%
            height auto
            position fixed
            margin 50px 5%
            .modal-content
                padding 25px
                h4.modal-texto
                    asap 14 bold
                h2.modal-title
                    asap 20 bold
                    margin-bottom 10px
                    p
                        padding 0 5px
                form
                    h4.frase
                        asap 14 bold
                    input 
                        +placeholder()
                            asap 12
                    .tipo-agendamento
                        label
                            asap 12
                            margin-right 10px 
                        .presencial:checked + label::after 
                            left -124px
                        .on-line:checked + label::after 
                            left -110px
            .modal-content-msg
                .modal-title-msg
                    asap 70
                .modal-texto-msg
                    asap 16       


// SLICK
.slick-list
    +mobile()
        padding 0 !important
.slick-arrow
    background-color #E8D619 !important
    background-size auto !important
    background-repeat no-repeat !important
    background-position center !important
    border none !important
    width 80px !important
    height 80px !important
    margin 0 !important
    outline none !important
    top 60px !important 
    &:hover
    &:focus
        background-color #583F9F !important
    +below($tablet)
        width 60px !important
        height 60px !important
        top 50px !important
.slick-prev
    background-image url('../img/layout/seta-branca-esq.png') !important
    left calc('(100% - 1200px)/2') !important
    &:before
        display none
    +below($tablet)
        left -10% !important
    +mobile()
        top auto !important
        left 0 !important
        bottom -130px !important
        margin 20px auto !important
.slick-next
    background-image url('../img/layout/seta-branca.png') !important
    right calc('(100% - 1200px)/2') !important
    &:before
        display none
    +below($tablet)
        right -10% !important
    +mobile()
        top auto !important
        right 0 !important
        bottom -130px !important
        margin 20px auto !important
.slick-disabled 
    opacity 0
    pointer-events none
