.contato
    width 100%
    background-color #FAF8D0
    padding 50px 0 70px 0
    .titulo
        color #E8D619
        kaushan 48
        margin 0 0 50px 0
        text-align center
    .center
        width 1200px !important
        margin 0 auto
        height auto
        display flex
        flex-direction row
        .informacoes
            width 30%
            padding 0 60px 0 0
            p
                asap 16
                color #583F9F
                a
                    text-decoration none
                    font-weight 600
                    &:hover
                    &:focus
                        color #E8D619
        form
            width 40%
            margin 0 auto
            .dados-contato
                display flex
                flex-direction column
                align-items initial
                input 
                    margin 2px 0
                    border 1px solid #E8D619
                    height 40px
                    padding 0 15px
                    outline none
                    background-color transparent
                    +placeholder()
                        asap 16
                        color #583F9F
                        font-style italic
                textarea
                    margin 2px 0
                    border 1px solid #E8D619
                    height 120px
                    padding 5px 15px
                    outline none
                    background-color transparent
                    +placeholder()
                        asap 16
                        color #583F9F
                        font-style italic
            .btn-contato
                border 1px solid #E8D619
                border-radius 0
                asap 16
                background-color #E8D619
                color #583F9F
                font-weight 600
                text-transform uppercase
                margin-top 5px
                height 40px
                width 100%
                outline none
                &:hover
                &:focus
                    background-color #583F9F
                    color #E8D619
        .redes-sociais
            width 30%
            padding 0 0 0 60px
            p
                asap 16
                color #583F9F
            .instagram
                display flex
                flex-direction row
                align-items center
                padding 10px 0
                img 
                    width 30px
                    height 30px
                a
                    text-decoration none
                    color #583F9F
                    asap 16 bold
                    font-style italic
                    padding-left 10px
                    &:hover
                    &:focus
                        color #E8D619
            .facebook
                display flex
                flex-direction row
                align-items center
                padding 0
                img 
                    width 30px
                    height 30px
                a
                    text-decoration none
                    color #583F9F
                    asap 16 bold
                    font-style italic
                    padding-left 10px
                    overflow-wrap anywhere
                    &:hover
                    &:focus
                        color #E8D619
    +below($tablet)
        .titulo
            kaushan 42
            margin 0 0 40px 0
        .center
            width 90% !important
            .informacoes
                width 30%
                padding 0 30px 0 0
                p
                    asap 14
            form
                width 40%
                margin 0 auto
                .dados-contato
                    input 
                        +placeholder()
                            asap 14
                    textarea
                        +placeholder()
                            asap 14
            .redes-sociais
                width 30%
                padding 0 0 0 30px
                p
                    asap 14
                .instagram
                    img 
                        width 25px
                        height 25px
                    a
                        asap 14 bold
                .facebook
                    img 
                        width 25px
                        height 25px
                    a
                        asap 14 bold
    +mobile()
        width 100% !important
        padding 40px 0
        .titulo
            width 90%
            kaushan 40
            text-align center
            margin 0 auto 50px auto
        .center
            width 90% !important
            margin 0 auto
            display flex
            flex-direction column
            align-items center
            .informacoes
                width 80%
                padding 0 0 20px 0
                p
                    asap 14
                    text-align center
            form
                width 80%
                margin 0 0 20px 0
            .redes-sociais
                width 80%
                padding 0


        