.home
    width 100%
    height 100%
    .banner
        width 1200px
        height auto
        margin 0 auto
        display flex
        flex-direction column
        align-items center
        padding-top 60px
        p.titulo
            kaushan 45
            color #FF99FF
            margin 5px 0
        p.texto
            asap 24
            font-weight 700
            font-style italic
            color #583F9F
            padding-bottom 60px
        .instagram
            width 100%
            height 50px
            text-decoration none
            display flex
            flex-direction row
            align-items flex-start
            margin 20px auto
            p.titulo
                asap 16
                color #583F9F
                font-style italic
                width 48%
                height 50px
                margin 0
                text-align end
            img 
                height 30px
                margin 0 10px
            p.instagram
                asap 16 bold
                color #583F9F
                font-style italic
                width 48% !important
                height 50px
                margin 0
                text-align start
    .dados-perfil
        width 1200px
        height auto
        background-color #FFF
        display flex
        flex-direction row
        align-items flex-start
        margin 30px auto
        .foto-nome
            width 50%
            display flex
            flex-direction row
            align-items flex-start
            img 
                position relative
                width 250px
                height 250px
                border-radius 50%
                background-position 50% 50%
                background-size cover
                object-fit cover
            .titulo-perfil
                width 50%
                margin 10px 0 0 20px
                p
                    kaushan 48
                    color #E8D619
                    margin 0
        .textos-perfil
            width 50%
            margin 10px 
            .frase
                asap 22 bold
                color #583F9F
                font-style italic
            .texto
                asap 16
                color #583F9F
                font-style italic
                margin-top 60px
                margin-bottom 50px
                line-height 1.5
    .dados-trabalho
        width 100%
        height auto
        background-color #F5F6CE
        position relative
        .taro
            width 100%
            background-color #D9EFFB
            .center
                width 1200px
                margin 0 auto
                .titulo
                    width 50%
                    color #583F9F
                    kaushan 48
                    text-align left
                    margin 50px 0 30px 0
                .frase
                    width 37%
                    color #583F9F
                    asap 22 bold
                    text-align left
                    font-style italic
                .texto
                    width 40%
                    color #583F9F
                    asap 16
                    text-align left
                    font-style italic
                    margin 30px 0 80px 0
        .numerologia
            width 100%
            background-color #EAD6E8
            .center
                width 1200px
                margin 0 auto
                .titulo
                    width 50%
                    color #583F9F
                    kaushan 48
                    text-align left
                    margin 50px 0 30px 0
                .texto
                    width 40%
                    color #583F9F
                    asap 16
                    text-align left
                    font-style italic
                    margin 30px 0 80px 0
        .center
            width 1200px
            margin 0 auto
            img 
                width 600px
                position absolute
                top 0
                margin-left 600px
    +below($tablet)
        .banner
            width 90%
            margin 0 auto
            padding-top 30px
            img.frase-banner
                width 80%
            p.titulo
                kaushan 35
            p.texto
                asap 20
                padding-bottom 30px
            img.img-banner
                width 100%
        .dados-perfil
            width 90%
            margin 30px auto
            display flex
            flex-direction column
            .foto-nome
                width 100%
                display flex
                flex-direction row
                align-items flex-start
                .titulo-perfil
                    margin-top 20px
            .textos-perfil
                width 100%
                margin 20px 0
        .dados-trabalho
            width 100%
            .taro
                .center
                    width 90%
                    .titulo
                        width 60%
                        kaushan 40
                        margin 30px 0 20px 0
                    .frase
                        width 40%
                        asap 20
                    .texto
                        width 40%
                        asap 15
                        margin 20px 0 60px 0
            .numerologia
                .center
                    width 90%
                    .titulo
                        width 40%
                        kaushan 40
                        margin 30px 0 20px 0
                    .texto
                        width 40%
                        asap 15
                        margin 20px 0 60px 0
            .center
                width 90%
                img 
                    width 450px
                    position absolute
                    top 122px
                    margin-left 40%
    +mobile()
        width 100vw
        overflow-x hidden
        .banner
            width 90%
            margin 0 auto
            align-items center
            img.frase-banner
                width 80%
            p.titulo
                kaushan 22
                white-space normal
            p.texto
                asap 14
                white-space pre-wrap
                padding-bottom 10px
            img.img-banner
                width 100%
            .instagram
                width 100%
                margin 5px auto
                p.titulo
                    asap 12
                    width 45%
                    height 20px
                img 
                    height 20px
                p.instagram
                    asap 12 bold
                    width 45% !important
                    height 20px
        .dados-perfil
            width 100%
            margin 10px
            display flex
            flex-direction column
            align-items center
            .foto-nome
                width 100%
                display flex
                flex-direction column
                align-items center
                margin-left 0
                .titulo-perfil
                    margin 10px 0
                    text-align center
                    p
                        kaushan 27
            .textos-perfil
                width 90%
                .frase
                    asap 17 bold
                .texto
                    asap 14
                    margin-top 40px
        .dados-trabalho
            width 100%
            .taro
                .center
                    width 90%
                    padding-bottom 170px
                    margin 0 auto
                    .titulo
                        width 100%
                        kaushan 30
                    .frase
                        width 100%
                        asap 18 bold
                    .texto
                        width 100%
                        asap 14
                        margin 20px 0 20px 0
            .numerologia
                .center
                    width 90%
                    padding-top 170px
                    margin 0 auto
                    .titulo
                        width 100%
                        kaushan 30
                    .texto
                        width 100%
                        asap 14
                        margin 20px 0 30px 0
            .center
                width 100%
                img 
                    height 320px
                    width auto
                    position absolute
                    top 350px
                    margin-left 0
                    right 5%