.mensagens
    width 100%
    .center
        width 1200px !important
        margin 0 auto
        position relative
        margin-bottom 70px
        +below($tablet)
            width 90vw !important
        &:after
            content ''
            display block
            clear both
        .grid-item
            width 47%
            height auto
            float left
            position relative
            margin 0 15px 50px 15px
            +below($tablet)
                width 45%
            +mobile()
                width 80%
                margin 10px 10%
            .mensagem
                text-decoration none
                &:hover
                &:focus
                    color #583F9F
                .mensagem-capa 
                    position relative
                    width 100%
                    height auto
                    background-size cover
                    padding 10px 0
                .dados
                    position relative
                    width 100%
                    display flex
                    flex-direction row
                    align-items flex-start
                    justify-content flex-start
                    .img-perfil
                        width 50px
                        height 50px
                        padding 2px
                        border-radius 50%
                        border 1px solid #583F9F
                        margin-right 20px
                        +below($tablet)
                            width 40px
                            height 40px
                            margin-right 10px
                    p
                        asap 15
                        +below($tablet)
                            asap 14
    .btn-mensagens
        position absolute
        bottom 0
        right calc('50% - 320px/2')
        margin 20px 0
        width 320px
        height 50px
        kaushan 30
        color #E8D619
        border 1px solid #E8D619
        border-radius 0
        background transparent
        outline none
        &:hover
        &:focus
            background #E8D619
            color #583F9F
        +mobile()
            width 200px
            right 0
            left 0
            kaushan 26
            margin 20px auto