.oracoes
    width 100%
    .center
        width 1200px !important
        margin 0 auto
        position relative
        padding-bottom 50px
        +below($tablet)
            width 90% !important
        &:after
            content ''
            display block
            clear both
        .grid-item
            width 47%
            height auto
            float left
            position relative
            background-color #FAF8D0
            padding 20px 60px
            margin 15px 30px 15px 0
            +below($tablet)
                width 47%
                margin 15px 20px 15px 0
            +mobile()
                width 100%
                padding 20px
                margin 10px 0
            p
                kaushan 24
                color #583F9F
                text-align center
            div
                p
                    asap 16
                    color #583F9F
                    font-style italic
                    +mobile()
                        asap 14
